@mixin tile {
    background: #fff;
    border-radius: $radius;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@mixin attributes_title {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    line-height: 36px;
    margin: 6px 0;
}